@font-face {
    font-family: 'JetBrains Mono';
    src: url('assets/fonts/JetBrainsMono/JetBrainsMono.ttf') format('truetype');
    font-weight: 400 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibre';
    src: url('assets/fonts/Calibre/CalibreThin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibre';
    src: url('assets/fonts/Calibre/CalibreSemibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibre';
    src: url('assets/fonts/Calibre/CalibreMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibre';
    src: url('assets/fonts/Calibre/CalibreBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibre';
    src: url('assets/fonts/Calibre/CalibreRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}